
h1 , h2 ,h3 ,h4 ,h5 ,h6{
    margin-bottom: 2.5rem;
}
.navbar{
    flex-wrap: inherit;
}
.submit{
    margin-top: 20px;
}

.btn{
    margin-left: 5px;
    margin-right: 5px;
}

.btn.save{
    color: #fff;
    background-color: #5C4AC7;
}

.btn.delete{
    background-color: #fff;
    color: #EF5350;
    border: 1px solid #EF5350;
}

.btn.cancel{
    background-color: #fff;
    color: #5C4AC7;
    border: 1px solid #5C4AC7;
}

.btn.add{
    margin: 10px;
    background-color: #5C4AC7;
    color: #fff;
}

.Coments{
    width: 40%;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    margin-left: 2%;
}

.preview{
    display : inline-flex;
    width: 100%;
    margin: auto;
    background-color: #EEF5F9;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.information{
    width: 100%;
    font-size: 12px;
}
.table{
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}

.tb-delete{
    color: #EF5350;
}

.sidenav {
    height: 100%; 
    width: 25%;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #26DAD2; 
    overflow-x: hidden; 
    padding-top: 20px;
    padding: 20px;
}

.user-img{
    width: 250px;
    height: 250px;
    margin: auto;
    margin-bottom: 29px;
}

.user-img img{
    width: 250px;
}

.user-info{
    margin: auto;
    margin-top: 20px;
}

.user-txt{
    background: transparent;
    border: none;
    width: 100%;
    height: 40px;
}

.user-main{
    display: inline-flex;
}

.user-details{
    position: absolute;
    left: 26%;
    width: 74%;
    padding: 20px;
}

.row{
    margin-bottom: 20px;
}

.container-fluid.layout{
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #EEF5F9;
}

.row.layout{
    background-color: #1976D2;
    margin-bottom: 0;
}

.row.layout .col-2{
    background-color: #055EB5;
    text-align: center;
}

.brand-name{
    color: #fff;
}

.nav-links a{
    color: #fff;
    text-decoration: none;
    margin-top: 1%;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-links img{
    width: 45px;
}

.nav-links{
    margin-top: 2%;
    margin-left: 2%;
    margin-top: 1%;
    margin-left: 39%;
}

.col-md-4{
    text-align: center;
    margin-top: 3%;
}

.col-md-4.img{
    margin-top: 0;
}

.col-md-2.sidebar{
    left: 0;
    position: absolute;
    height: 100%;
    background-color: #fff;
}

.nav.flex-column{
    position: absolute;
    left: 0;
    font-size: 20px;
}

.nav.flex-column a{
    color: black;
}

/*layout*/
@import url("_buttons.css");
:root {
  --defaultcolor: #1976d2;
  --bgcolor:#eef5f9;
  --fontcolor:#1976d2;
  --white: #ffffff;
}
.navbar{
  background-color: var(--defaultcolor);
}
.navbar .nav-link,.navbar #menu-toggle{
  color: white!important;;
}
.navbar-toggler{
color: white !important;;
border: unset !important;;
}
#wrapper {
    overflow-x: hidden;
    background-color: var(--bgcolor);
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color: white;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  text-align: center;
  background-color :#055EB5;
  color: #fff;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
.list-group ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.list-group ul a{
  padding-top: 0.5rem;
padding-bottom: 0.5rem;
background-color: #eaf5ff;
}
.page-titles {
  background: #ffffff;
  margin: 0 0px 30px;
  padding: 15px 10px;
      padding-bottom: 15px;
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
}
.page-titles {
  padding-bottom: 20px;
}
.page-titles h3 {
  margin-bottom: 0px;
  margin-top: 0px;
}
.txt-themecolor{
color:var(--defaultcolor);
}
.text-inverse {
  color: #2f3d4a !important;
}
.card {
  margin-bottom: 30px;
}
.card {
  border: 0px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.card.Tasks{
    top: -100px;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
.table-responsive > .table-bordered {
  border: 0;
}
.table td, .table th {
  border-color: #f3f1f1;
}
.table th, .table thead th {
  font-weight: 500;
}
.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6;
      border-top-color: rgb(222, 226, 230);
      border-right-color: rgb(222, 226, 230);
      border-bottom-color: rgb(222, 226, 230);
      border-left-color: rgb(222, 226, 230);
}
.card .card-subtitle {
  font-weight: 300;
  margin-bottom: 15px;
  color: #99abb4;
}
.progress {
  display: -ms-flexbox;
  display: flex;
  height: auto;
  overflow: hidden;
  line-height: 0;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
}
.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width .6s ease;
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* coments */
p {
    margin: 0 0 1em;
}

.comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    *zoom: 1;
}

.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.comment-img img {
    display: block;
}

.comment-body {
    overflow: hidden;
}

.comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

.comment .text p:last-child {
    margin: 0;
}

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

/* Decoration */

.comments,
.comment {
    position: relative;
}

.comments:before,
.comment:before,
.comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
}

.comments:before {
    width: 3px;
    top: -20px;
    bottom: -20px;
    background: rgba(0,0,0,0.1);
}

.comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #ccc;
}

.comment:hover:before {
    background: orange;
}

.comment .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
}